<div id="home-intro">
	<div class="row">
		<div class="content">
			<h1>Web Analytics API Tracking Tool</h1>
			<h3>Add a little javascript snippet to your website and gather data about how people use your site.</h3>
			<div class="call-to-action">
				<div class="small-12 medium-6 medium-centered columns">
					<%= link_to "See it in Action", events_path, class: "button expand" %>
				</div>
			</div>
		</div>
	</div>
	
</div>

<%= link_to "Create an event", events_path %>