<div id="home-intro">
	<div class="row">
		<h1>Web Analytics API Tracking Tool</h1>
		<h3>Add a little javascript snippet to your website and gather data about how people use your site.</h3>
	</div>
</div>

<div id="instructions">
	<div class="row">
		<div class="small-12 medium-6 medium-centered columns">
			<%= link_to "View Updated Instructions on Github", "https://github.com/flores8/blocmetrics#getting-started", class: "button expand" %>
		</div>
	</div>
</div>
