<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<%= link_to "Create an event", events_path %>

<!-- 
<script>
$.ajax("http://blocmetrics.tracking.com:3000", "pageview", current_user.ip)
</script>
-->