<main id="cd-main-content">
	<section id="cd-intro">
		<h1>Web Analytics API Tracking Tool</h1>

		<header class="cd-header">
			<div id="cd-logo"><%= link_to "Get Started", get_started_path %></div>
			<%= link_to raw("View Events <span></span>"), events_path, class: "cd-menu-trigger" %>
		</header>
		<div class="cd-blurred-bg"></div>
	</section> <!-- cd-intro -->
</main>


<!-- 
<script>
$.ajax("http://blocmetrics.tracking.com:3000", "pageview", current_user.ip)
</script>
-->